@charset "UTF-8";
body {
  font-family: Arial, sans-serif;
  background-color: #6f6f6f;
  color: #444;
}

.form-wrapper {
  top: 260px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  top: 154px;
  width: 863px;
  height: 1000px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: auto;
}
@media (max-width: 480px) {
  .form-wrapper {
    width: 333px;
    height: 791px;
  }
}

label {
  display: block;
  margin-bottom: 8px;
}

label.required:after {
  content: "(必須)";
  color: red;
}

label.optional:after {
  content: "(任意)";
  color: red;
}

input[name=taishobutu_name], input[name=taishobutu_address], input[name=owners_name] {
  width: 308px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #D9D9D9;
}

input[name=taishobutu_tel], input[name=owners_tel], input[name=total_area] {
  width: 155px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #D9D9D9;
}

input[type=button] {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  right: 120px;
  margin: 50px;
}

input[type=button]:hover {
  background-color: #9b9b9b;
}

input[type=submit] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 50px;
}

input[type=submit]:hover {
  background-color: #3e8e41;
}

select {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  width: 130px;
  box-sizing: border-box;
  background-color: #D9D9D9;
  margin-bottom: 25px;
}

.appendix_group {
  position: absolute;
  top: 10px;
  left: 360px;
}
@media (max-width: 480px) {
  .appendix_group {
    left: 116px;
  }
}

.taishobutu_name_group {
  position: absolute;
  top: 140px;
  left: 360px;
}
@media (max-width: 480px) {
  .taishobutu_name_group {
    top: 110px;
    left: 34px;
  }
}

.taishobutu_address_group {
  position: absolute;
  top: 270px;
  left: 360px;
}
@media (max-width: 480px) {
  .taishobutu_address_group {
    left: 116px;
  }
}

.taishobutu_tel_group {
  position: absolute;
  top: 400px;
  left: 360px;
}
@media (max-width: 480px) {
  .taishobutu_tel_group {
    left: 116px;
  }
}

.owners_name_group {
  position: absolute;
  top: 530px;
  left: 360px;
}
@media (max-width: 480px) {
  .owners_name_group {
    left: 116px;
  }
}

.owners_tel_group {
  position: absolute;
  top: 660px;
  left: 360px;
}
@media (max-width: 480px) {
  .owners_tel_group {
    left: 116px;
  }
}

.total_area_group {
  position: absolute;
  top: 790px;
  left: 360px;
}
@media (max-width: 480px) {
  .total_area_group {
    left: 116px;
  }
}

.modal-btn {
  display: none;
  margin: 0 auto;
  color: #fff;
  font-weight: bold;
  background-color: #00a5a0;
  box-shadow: 0 5px 0 #008480;
  text-align: center;
  text-decoration: none;
  width: 129px;
  height: 41px;
  line-height: 50px;
  border-radius: 60px;
  border: none;
}
@media screen and (max-width: 768px) {
  .modal-btn {
    display: block;
  }
}

.modal-btn.js-modal-close {
  position: absolute;
  left: 109px;
  top: 689px;
}

.modal-btn:hover {
  box-shadow: none;
  transform: translateY(5px);
  cursor: pointer;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 716px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.section {
  position: absolute;
  left: 124px;
  top: 70px;
  width: 359px;
  padding: 21px;
}
.section:nth-of-type(2n) {
  background-color: #d9e8e7;
}

.error-message-appendix-modal {
  display: none;
  color: red;
  position: absolute;
  bottom: 640px;
}
@media (max-width: 480px) {
  .error-message-appendix-modal {
    display: block;
  }
}

.error-message-tai-name-modal {
  display: none;
  color: red;
  position: absolute;
  bottom: 580px;
}
@media (max-width: 480px) {
  .error-message-tai-name-modal {
    display: block;
  }
}

.error-message-tai-address-modal {
  display: none;
  color: red;
  position: absolute;
  bottom: 520px;
}
@media (max-width: 480px) {
  .error-message-tai-address-modal {
    display: block;
  }
}

.error-message-tai-tel-modal {
  display: none;
  color: red;
  position: absolute;
  bottom: 411px;
}
@media (max-width: 480px) {
  .error-message-tai-tel-modal {
    display: block;
  }
}

.error-message-owners-tel-modal {
  display: none;
  color: red;
  position: absolute;
  bottom: 310px;
}
@media (max-width: 480px) {
  .error-message-owners-tel-modal {
    display: block;
  }
}

.error-message-total-area-modal {
  display: none;
  color: red;
  position: absolute;
  bottom: 188px;
}
@media (max-width: 480px) {
  .error-message-total-area-modal {
    display: block;
  }
}

.section-title,
.modal-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.error-message-appendix {
  position: absolute;
  top: 80px;
  left: -39px;
  display: block;
  color: red;
}
@media (max-width: 480px) {
  .error-message-appendix {
    display: none;
  }
}

.error-message-appendix-check {
  display: block;
  color: red;
}
@media (max-width: 480px) {
  .error-message-appendix-check {
    display: none;
  }
}

.error-message-tai-name {
  position: absolute;
  top: 80px;
  left: -39px;
  display: block;
  color: red;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .error-message-tai-name {
    display: none;
  }
}

.error-message-tai-name-check {
  display: block;
  color: red;
}
@media (max-width: 480px) {
  .error-message-tai-name-check {
    display: none;
  }
}

.error-message-tai-address {
  position: absolute;
  top: 80px;
  left: -39px;
  display: block;
  color: red;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .error-message-tai-address {
    display: none;
  }
}

.error-message-tai-address-check {
  display: block;
  color: red;
}
@media (max-width: 480px) {
  .error-message-tai-address-check {
    display: none;
  }
}

.error-message-tai-tel {
  position: absolute;
  top: 80px;
  left: -39px;
  display: block;
  color: red;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .error-message-tai-tel {
    display: none;
  }
}

.error-message-tai-tel-check {
  display: block;
  color: red;
}
@media (max-width: 480px) {
  .error-message-tai-tel-check {
    display: none;
  }
}

.error-message-owners-tel {
  position: absolute;
  top: 80px;
  left: -39px;
  display: block;
  color: red;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .error-message-owners-tel {
    display: none;
  }
}

.error-message-owners-tel-check {
  color: red;
  position: absolute;
  bottom: 331px;
  left: 277px;
}

.error-message-total-area {
  position: absolute;
  top: 80px;
  left: -39px;
  display: block;
  color: red;
  white-space: nowrap;
}
@media (max-width: 480px) {
  .error-message-total-area {
    display: none;
  }
}

.error-message-total-area-check {
  color: red;
  position: absolute;
  bottom: 212px;
  left: 277px;
}/*# sourceMappingURL=taishobutu_add_20240116004303.css.map */