body {
  font-family: Arial, sans-serif;
  background-color: #6f6f6f;
  color: #444;
}

.form-wrapper {
  top: 260px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  padding: 20px;
  top: 154px;
  width: 863px;
  height: 922px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: auto;
}
label {
  display: block;
  margin-bottom: 8px;
}
label.required:after{
  content: "(必須)";
  color: red;
}
label.optional:after{
  content: "(任意)";
  color: red;
}
input{
    &[name="taishobutu_name"],
    &[name="taishobutu_address"],
    &[name="owners_name"] {
      width: 308px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 20px;
      font-size: 16px;
      background-color: #D9D9D9;
    }
}
input{
  &[name="taishobutu_tel"],
  &[name="owners_tel"],
  &[name="total_area"]{
    width: 148px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #D9D9D9;
  }
}

input[type="button"] {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: absolute; 
  bottom: 0; 
  right: 120px ;
  margin: 50px;  
}
input[type="button"]:hover {
    background-color: #9b9b9b;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: absolute; 
  bottom: 0; 
  right: 0; 
  margin: 50px; 
}
input[type="submit"]:hover {
  background-color: #3e8e41;
}

select {
  border: 2px solid #ccc; 
  border-radius: 5px;
  padding: 10px; 
  font-size: 16px; 
  width: 130px; 
  box-sizing: border-box;
  background-color: #D9D9D9;
  margin-bottom: 25px; 
}
.error-message-appendix {
  color:  red;
  position: absolute;
  bottom: 825px;
  left: 277px;
}
.error-message-tai-name {
  color:  red;
  position: absolute;
  bottom: 732px;
  left: 277px;
}
.error-message-tai-address {
  color:  red;
  position: absolute;
  bottom: 639px;
  left: 277px;
}
.error-message-tai-tel {
  color:  red;
  position: absolute;
  bottom: 548px;
  left: 277px;
}
.error-message-owners-tel {
  color:  red;
  position: absolute;
  bottom: 364px;
  left: 277px;
}

.error-message-total-area {
  color:  red;
  position: absolute;
  bottom: 270px;
  left: 277px;
}