@charset "UTF-8";
body {
  background-color: #6f6f6f;
  font-family: Arial, sans-serif;
}

h1 {
  position: absolute;
  top: 57px;
  left: 40%;
}
@media (max-width: 480px) {
  h1 {
    left: 16%;
  }
}

.table-container {
  position: relative;
  top: 280px;
}
@media (max-width: 480px) {
  .table-container {
    top: 370px;
  }
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed;
}

table th.code_area, table td.code_area {
  width: 1px; /* あなたが望む幅に調整してください */
  max-width: 50px; /* あなたが望む最大幅に調整してください */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

table th#one_area, table td#one_area {
  width: 175px; /* あなたが望む幅に調整してください */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

table th.two_area, table td.two_area {
  width: 177px; /* あなたが望む幅に調整してください */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

table th.three_area, table td.three_area {
  width: 191px; /* あなたが望む幅に調整してください */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

table th#four_area, table td#four_area {
  width: 180px; /* あなたが望む幅に調整してください */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

table th.five_area, table td.five_area {
  width: 117px; /* あなたが望む幅に調整してください */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media (max-width: 480px) {
  .hide-on-mobile {
    display: none;
  }
}
.table-container.scrollable {
  overflow-x: auto;
  width: 100%;
}

.table-container.scrollable table {
  min-width: 1000px;
}

@media (max-width: 480px) {
  .table-container.scrollable .hide-on-mobile {
    display: table-cell !important;
  }
}
form.existingDataForm {
  width: 1198px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 180px;
  bottom: 750px;
}
@media screen and (max-width: 768px) {
  form.existingDataForm {
    position: fixed;
    height: 153px;
    width: 325px;
    top: 81px;
    left: 50%;
    transform: translateX(-50%);
  }
}
form.existingDataForm .form-wrapper {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 768px) {
  form.existingDataForm .fire_safety_manager_name-area {
    position: absolute;
    top: 20px;
    left: 290px;
  }
}
@media screen and (min-width: 768px) {
  form.existingDataForm .appointment_date-area {
    position: absolute;
    top: 20px;
    left: 560px;
  }
}
@media screen and (min-width: 768px) {
  form.existingDataForm .fire_plan_date-area {
    position: absolute;
    top: 20px;
    left: 815px;
  }
}
@media (max-width: 480px) {
  form.existingDataForm .fire_safety_manager_director-area label {
    margin-right: 33px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  form.existingDataForm .fire_safety_manager_name-area label {
    margin-right: 33px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  form.existingDataForm .appointment_date-area label {
    margin-right: 49px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  form.existingDataForm .fire_plan_date-area label {
    margin-right: 1px;
  }
}
form.existingDataForm .submit-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -22px;
}
@media (max-width: 480px) {
  form.existingDataForm .submit-button-container {
    margin-top: 28px;
  }
}

#taishobutu_show_datail_button {
  position: fixed;
  top: 230px;
  left: 10%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1000;
}
@media (max-width: 480px) {
  #taishobutu_show_datail_button {
    top: 330px;
    left: 10%;
  }
}

#taishobutu_show_datail_button:hover {
  background-color: #0062cc;
}

#taishobutu_show_datail_buttonn:active {
  background-color: #005cbf;
  box-shadow: none;
}/*# sourceMappingURL=fire_safety_manager_datail_20240205135802.css.map */