body {
  background-color: #6f6f6f;
  font-family: Arial, sans-serif;
}

.table-container {
  position: relative;
  top: 250px;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media (max-width: 480px) {
  .hide-on-mobile {
    display: none;
  }
}

.input-form-container {
  display: flex;
  flex-direction: row;
}

form.existingDataForm {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  bottom: 781px;
}

@media (max-width: 480px) {
  form.existingDataForm {
    width: 100%;  /* スマホサイズの場合の幅を100%に設定します */
    max-width: 370px;  /* スマホサイズの場合の最大幅を370pxに設定します */
    bottom: 1380px;
  }
  .submit-button {
    width: 60px;  /* 必要な幅に設定します */
  }
}



#taishobutu_show_datail_button {
  position: fixed;
  top: 9px;
  left: 371px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1000;
}

#taishobutu_show_datail_button:hover {
  background-color: #0062cc;
}

#taishobutu_show_datail_buttonn:active {
  background-color: #005cbf;
  box-shadow: none;
}

.alert-success, .alert-error {
  top: -103px;
  left: 0; /* 左端からの位置を0に設定 */
  width: 100%; /* 幅を100%に設定 */
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: relative;
  text-align: center;
  transition: opacity 1s ease-out;
}

.alert-success {
  color: #35cb07;
  background-color: #b9e8be;
}

.alert-error {
  color: #ff0000;
  background-color: #ed8b8b;
}