body {
  font-family: Arial, sans-serif;
  background-color: #6f6f6f;
  color: #444;
}
.form-wrapper {
  top: 260px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  padding: 20px;
  width: 450px;
  height: 470px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
label {
  display: block;
  margin-bottom: 8px;
}
label.required:after {
  content: "(必須)";
  color: red;
}

input[type="text"],
input[type="password"] {
    width: 308px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #D9D9D9;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute; 
    bottom: 0; 
    right: 0; 
    margin: 50px; 
}
input[type="button"] {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: absolute; 
  bottom: 0; 
  left: 230px;
  margin: 50px;  
}
input[type="button"]:hover {
    background-color: #9b9b9b;
}
input[type="submit"]:hover {
    background-color: #3e8e41;
}



.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-message {
  color: red;
  position: absolute;
  left: 70px;
}